{% extends "basic.html" %}

{% block title %}
Buy {{ item.name }}
{% endblock %}
{% block content %}
<script src="https://js.stripe.com/v3/"></script>
<h1>{{ item.name }}</h1>

<p>{{ item.description }}</p>
<p>{{ item.price }} {{ item.currency }}</p>
<button id="buy-button">Buy</button>

<script type="text/javascript">
    var stripe = Stripe('{{ pb_key }}');
    var buyButton = document.getElementById('buy-button');
    buyButton.addEventListener('click', function () {
        // Create a new Checkout Session using the server-side endpoint
        // Redirect to Stripe Session Checkout

        fetch('/buy/{{ item_id }}/', { method: 'GET' })
            .then((response) => response.json())
            .then(({ session }) => stripe.redirectToCheckout({ sessionId: session.id }))

    });

</script>

{% endblock %}
